#home {
  display: flex;
  min-height: calc(100vh - 91px);
  position: relative;
}

#cta {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5%;
  z-index: 2;
}

#cta .title {
  font-size: 4rem;
  color: #1d1d1d;
}

#cta .title span {
  color: #485935;
}

#cta .description {
  font-size: 1.2rem;
}

#cta_buttons {
  display: flex;
  gap: 24px;
}

#cta_buttons a {
  text-decoration: none;
  color: #1d1d1d;
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 70%;
  z-index: 2;
}

#banner img {
  max-width: 80%;
  height: auto;
  width: fit-content;
}

.shape {
  background-color: #e9f5db;
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: 0;
  right: 0;
  z-index: 1;
}

.btn-default {
  text-decoration: none;
}

@media screen and (max-width: 1170px) {
  #home {
    min-height: 100%;
    padding-top: 0px;
  }

  #banner,
  #banner img,
  #home .shape {
    display: none;
  }

  #cta {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  #phone_button button {
    display: none;
  }
}
