<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{css/desaparecido.css}" />
    <title>Formulário</title>
  </head>

  <body>
    <div class="container">
      <div class="form-image">
        <img th:src="@{images/undraw_People_search_re_5rre.png}" alt="" />
      </div>
      <div class="form">
        <form action="#">
          <div class="form-header">
            <div class="title">
              <h1>Atualizar Desaparecido</h1>
            </div>
            <button
              id="back_btn"
              style="
                border: none;
                background-color: transparent;
                margin-left: 10px;
              "
            >
              <span class="btn-index">Voltar</span>
            </button>
          </div>

          <div class="input-group">
            <div class="input-box">
              <label for="firstname">Nome</label>
              <input
                id="firstname"
                type="text"
                name="nome"
                placeholder="Digite o nome"
                required
              />
            </div>

            <div class="input-box">
              <label for="Idade">Idade</label>
              <input
                id="Idade"
                type="text"
                name="Idade"
                placeholder="Digite a idade"
                required
              />
            </div>
            <div class="input-box">
              <label for="cor">Cor</label>
              <input
                id="cor"
                type="text"
                name="cor"
                placeholder="Cor"
                required
              />
            </div>

            <div class="input-box">
              <label for="cabelos">Cabelos</label>
              <input
                id="cabelos"
                type="text"
                name="cabelos"
                placeholder="Caracteristicas do Cabelo"
                required
              />
            </div>

            <div class="input-box">
              <label for="documento">Documento</label>
              <input
                id="documento"
                type="number"
                name="documento"
                placeholder="Se souber, digite o documento"
              />
            </div>

            <div class="input-box">
              <label for="cidade">Cidade</label>
              <input
                id="cidade"
                type="text"
                name="cidade"
                placeholder="Digite a cidade - estado"
                required
              />
            </div>
          </div>

          <div class="gender-inputs">
            <div class="gender-title">
              <h6>Gênero</h6>
            </div>

            <div class="gender-group">
              <div class="gender-input">
                <input id="female" type="radio" name="gender" />
                <label for="female">Feminino</label>
              </div>

              <div class="gender-input">
                <input id="male" type="radio" name="gender" />
                <label for="male">Masculino</label>
              </div>

              <div class="gender-input">
                <input id="others" type="radio" name="gender" />
                <label for="others">Outros</label>
              </div>

              <div class="gender-input">
                <input id="none" type="radio" name="gender" />
                <label for="none">Prefiro não dizer</label>
              </div>
            </div>
          </div>
          <!-- Retorno Visual -->
          <div id="texto_feedback"></div>
          <div class="continue-button">
            <button id="botao_update_desaparecido">Continuar</button>
          </div>
        </form>
      </div>
    </div>
    <script th:src="@{/js/atualizar.js}"></script>
  </body>
</html>
