<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.tymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    <title>Landing page</title>
  </head>
<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-seedling" id="nav_logo"> RedeAmparo</i>

            <ul id="nav_list">
              <li class="nav-item active">
                <a href="#home">Início</a>
              </li>
              <li class="nav-item">
                <a href="#doacoes">Doações</a>
              </li>
              <li class="nav-item">
                <a href="#abrigo">Abrigos</a>
              </li>
              <li class="nav-item">
                <a href="#cadastro">Desaparecidos</a>
              </li>
          </ul>
        <button class="btn-default">
            Cadastre aqui!
        </button>
        <button id="mobile_btn">
          <i class="fa-solid fa-bars"></i>
        </button>
      </nav>
      <div id="mobile_menu">
        <ul id="mobile_nav_list">
          <li class="nav-item">
            <a href="#home">Início</a>
          </li>
          <li class="nav-item">
            <a href="#doacoes">Doações</a>
          </li>
          <li class="nav-item">
            <a href="#abrigo">Abrigos</a>
          </li>
          <li class="nav-item">
            <a href="#cadastro">Desaparecidos</a>
          </li>
        </ul>
        <button class="btn-default">
          Cadastre aqui!
        </button>
      </div>
    </header> 
    <main id="content">
      <section id="home">
        <div id="shape"></div>
        <div id="cta">
          <h1 class="title">
            Sua busca termina aqui, sua ajuda começa 
            <span>agora</span>
          </h1>
          <p id="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada urna tortor, non finibus lectus auctor ac. 
          </p>
          <div id="cta_buttons">
            <a href="#" class="btn-default">
              Ver Lista de Desaparecidos
            </a>
          </div>
        </div>
        <div id="banner">
          <img src="images/ilustracao.jpg" alt="">
        </div>
      </section>
    </main>
    <script src="js/script.js"></script> 
</body>
</html>
